# Environments
.env

# Python
__pycache__/
*.pyc

# Databases
*.sqlite
mysql-data/

# n8n data
n8n-processor-data/
n8n-processor-data/database.sqlite
n8n-processor-data/database.sqlite
n8n-processor-data/
