version: "3.9"

services:

  db:
    image: mysql:8.0
    restart: always
    command: --default-time-zone='+07:00'
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: chatbot_history
      MYSQL_USER: Alex
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - ./mysql-data:/var/lib/mysql
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 10

  backend:
    build: ./backend
    restart: always
    ports:
      - "8000:8000"
    environment:
      DATABASE_HOST: db
      DATABASE_PORT: 3306
      DATABASE_USER: Alex
      DATABASE_PASSWORD: ${MYSQL_PASSWORD}
      DATABASE_NAME: chatbot_history
      JWT_SECRET: ${JWT_SECRET}
      TURNSTILE_SECRET: ${TURNSTILE_SECRET}
      HF_TOKEN: ${HF_TOKEN}
      SENDABLE_API_KEY: ${SENDABLE_API_KEY}
      N8N_REGISTER_WEBHOOK: http://process:5678/webhook/register-approval
    depends_on:
      db:
        condition: service_healthy

  process:
    image: n8nio/n8n
    restart: always
    ports:
      - "5678:5678"
    volumes:
      - ./n8n-processor-data:/home/node/.n8n
    environment:
      TZ: Asia/Jakarta
      N8N_SECURE_COOKIE: "false"
      DB_SQLITE_POOL_SIZE: "5"
      N8N_RUNNERS_ENABLED: "true"
      N8N_BLOCK_ENV_ACCESS_IN_NODE: "false"
      N8N_GIT_NODE_DISABLE_BARE_REPOS: "true"
      N8N_WEBHOOK_URL: ${NGROK_URL}
      
    depends_on:
      - db
      - backend

  frontend:
    image: nginx:alpine
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./frontend-build:/usr/share/nginx/html
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend

  ngrok:
    image: ngrok/ngrok:latest
    restart: always
    ports:
      - "4040:4040"
    environment:
      NGROK_AUTHTOKEN: ${NGROK_AUTHTOKEN}
    command: http process:5678
    depends_on:
      - process
